.template-students_list table {
    text-align:left;
}

.template-students_list table td {
    vertical-align:middle;
}

.envor-msg.envor-msg-info, .alert.status.alert-success, .portalMessage.alert-success, .alert.status.info, .portalMessage.info {
    background-color: #aad6ea;
    border: 1px solid #9acee6;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px 3px 8px;
    border-radius:5px;
}

.envor-msg.envor-msg-warning, .alert.status.alert-warning, .portalMessage.alert-warning, .alert.status.warning, .portalMessage.warning {
    background-color: #ebd380;
    border: 1px solid #e7ca66;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px 3px 8px;
    border-radius:5px;
}

.envor-msg.envor-msg-error, .alert.status.alert-error, .portalMessage.alert-error, .alert.status.error, .portalMessage.error {
    background-color: #EC9C8D;
    border: 1px solid #eb9484;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px 3px 8px;
    border-radius:5px;
}

.tr-title {
    text-align:center;
    background-color:#307bb3;
    color:#fff;
}

.plone-toolbar-expanded table tr td {
    padding:8px;
    border: 1px solid #999;
}



/* Popup 視窗 Start */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    width: 500px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/* Popup 視窗 End */
