/* 中尺寸: 768~480px */
@media (max-width: 768px) and (min-width: 480px) {
    .envor-header-1 .envor-top-bar p.contacts {
        display: none;
    }

    .envor-header-1 .envor-top-bar ul.social-btns {
        display: initial;
        float: initial;
    }
}
/* 小尺寸: 480px 以下 */
@media (max-width: 480px) {
    .envor-header-1 .envor-top-bar p.contacts {
        display: none;
    }

    .envor-header-1 .envor-top-bar ul.social-btns {
        display: initial;
        float: initial;
    }
}


.envor-header-1 .envor-top-bar ul.social-btns li.login {
    width: 60px;
}

.envor-header-1 .envor-top-bar ul.social-btns li.logout {
    width: 120px;
}

.template-course_info #content-core .detail {
    font-size: 16px;
}

#content-core .image-container-center {
    text-align: center;    
}

#results-count {
    font-size: 22px;
}

.searchResults li {
    font-size: 16px;
    margin: 10px 0;
}

/* Home page Slider */
.ls-layer .ls-bg {
    top: 100%;
}

/* portlet */
h3.portletHeader {
    background-color: #ee7;
    padding: 10px 15px;
/*    border:2px #ccc solid; */
    border-radius:6px;
}

h1 { font-size: 24px; }
.envor-page-title-1 h1 { font-size: 24px;}
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

body { color: #555; font-size: 15px; }
footer .envor-widget-inner { color: #aaa; }
.envor-top-bar .contacts { color: #ccc; }

input[type=text], input[type=number], input[type=email], input[type=file], input[type=tel], input[type=url], input[type=password], select, textarea{
    background-color: #ccc;
    border: 1px solid #333;
}
::placeholder {
    color: #777;
}
:-ms-input-placeholder { 
    color: #777;
}
::-ms-input-placeholder { 
    color: #777;
}
.group-reg {color:#47d}

/* template-echelon_detail */
.template-echelon_detail .section-title {
    background: #6ce9ca;
    margin:20px;
    padding:10px;
    text-align: center;
    color:#1960db;
}

.template-echelon_detail .section-body {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.template-echelon_detail table {
    width:100%;
}

.template-echelon_detail th, .template-echelon_detail td {
    border: solid 1px #555;
    padding:5px;
}

.template-echelon_detail table a {color:blue}
